.Footer_wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-weight: 300;
    background-color: steelblue;
    color: white;
    text-align: center;
    padding: 1rem;

    div {
        margin: 0 1rem;
    }

    .heart_icon {
        color: red;
        font-size: 1rem;
    }

    @media only screen and (max-width: 595px) {
        div:nth-child(2) {
            margin-top: 0.5rem;
        }
    }
}